html, body, header, footer, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body {
    background-color: black;
}

div.content {
    width: 850px;margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding: 1em 1em 3em 1em;
}

div.header {
    padding-bottom: 1em;
}

div.splash {
    border: thin solid black;
}

div.link {
    padding: 1em 0 1em 0;
    font-size: 1.5em;
}

form.names {
    font-size: 1.25em;
}

form.size {
    font-size: 1.25em;
    padding: 1em 0 1em 18em;
    text-align: left;
}

button.start {
    font-size: 1.25em;
}

h2 {
    font-size: 1.75em;
}

div.instructions {
    text-align: justify;
    margin: 1em 2em 2em 2em;
}

div.instructions p {
    font-size: 1.15em;
    margin-bottom: 1em;

}

div.winner {
    font-size: 1.75em;
    margin: .75em 0 1em 0;
}

p.currentPlayer{
    font-size: 1.5em;
    margin: .75em 0 1em 0;
}

div.pipe {
    padding: 0 .25em 0 .25em;
}

div.choice{
    padding: 1.5em 0 0em 0;
}

div.button{
    padding: 0 1.5em 0 1.5em;
}

div.game {
    display: inline-block;
    margin: 1em auto;
    border: thin solid black;
    padding: 1em 0;
}

div.game div.row {
    display: block;
    padding: 0;
    height: 50px;
    white-space: nowrap;
}

div.game div.cell {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
}

div.pipe{
    display: inline-block;
}


div.button{
    display: inline-block;
}